html{
        width: 100%;
        height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,rgb(64, 127, 127),rgb(85, 170, 85));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    text-align: left;
  
    text-decoration: none;
}
h1{
    font-weight: bolder;
    color:whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
.col-10{
    border:2px dashed rgb(214, 177, 108);
    color:wheat;
}
#col2{
    text-align: center;
    margin:0px;
    height:30%;
    width:100%;
}